.Form {
  width: 100%;
  max-width: 384px;
  height: 374px;
  background-color: white;
  padding: 48px 32px;
  margin: 59px auto;
  user-select: none;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 6px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.Title {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.Button {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.ButtonSpan {
  padding: 10px;
  display: block;
  box-sizing: border-box;
  opacity: 50%;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
